* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    padding: 1rem;
    font-size: 18px;
    background: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
}

.box {
    border-radius: rem;
    padding: 1rem;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.result {
    border-radius: 1rem;
    color: #FFF;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    .title {
        margin-bottom: 1rem;
        color: hsla(0, 0%, 100%, 90%)
    }
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        .number {
            font-size: 50px;
            line-break: strict;
        }
        margin-bottom: 1rem;
    }
    .description {
       font-size: 14px;
       margin-top: 1rem;
    }
}

.summary {
    background: hsl(0, 0%, 100%);
    .title {
        text-align: start;
        margin-bottom: 1rem;
        color: hsl(224, 30%, 27%);
    }
    .skill {
        display: flex;
        justify-content: space-around;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-top: 1rem;
        .score {
            color: hsl(224, 30%, 27%);
            font-weight: 800;
            span {
                color: hsla(224, 30%, 27%, 50%);
            }
        }
    }
    .skill-1 {
        color:hsl(0, 100%, 67%);
        background: hsla(0, 100%, 67%, 10%)
    }
    .skill-2 {
        color:hsl(39, 100%, 56%);
        background:hsla(39, 100%, 56%, 10%);
    }
    .skill-3 {
        color: hsl(166, 100%, 37%);
        background: hsla(166, 100%, 37%, 10%);
    }
    .skill-4 {
        color: hsl(234, 85%, 45%);
        background: hsl(234, 85%, 45%, 10%);
    }
}

.button {
    width: 100%;
    border-radius: 5rem;
    padding: 1rem 0;
    color: #FFF;
    background: hsl(224, 30%, 27%);
    margin-top: 2rem;
    font-weight: 800;
    cursor: pointer;
}

.attribution {
    text-align: center;
}

@media (max-width: 767px) {

    body {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }

    .content {
        padding: 0 2rem;
        max-width: 767px;
        align-items: center;
        flex-direction: column;
    }

    .box {
        width: 100%;
        border-radius: 0 0 5rem 5rem;
    }

    .summary {
        .title {
            text-align: start;
        }
    }

}